layout {
    focus-ring {
        active-color "#505050"
        inactive-color "#202020"
        active-gradient from="#505050" to="#303030" angle=45
    }
    border {
        active-color "#505050"
        inactive-color "#202020"
        active-gradient from="#505050" to="#303030" angle=45
    }
}
