layout {
    focus-ring {
        active-color "#628aff"
        inactive-color "#7886a0"
        active-gradient from="#628aff" to="#25aabd" angle=45
    }
    border {
        active-color "#628aff"
        inactive-color "#7886a0"
        active-gradient from="#628aff" to="#25aabd" angle=45
    }
}
